-#  This file is app/views/movies/index.html.haml
%h2 All Movies

= form_tag movies_path(), :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @checkbox_selected.include?(rating)
  = submit_tag 'Refresh', :class => 'btn btn-primary'
  
%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th{:id => 'title_header',:class => helper("title")}=link_to "Movie Title", :column => "title", :ratings => @checkbox
      %th Rating
      %th{:id => 'release_date_header',:class => helper("release_date")}=link_to "Release Date", :column => "release_date", :ratings => @checkbox
      %th More Info

  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(:id=>movie.id)
= link_to 'Add new movie', new_movie_path
